h1 {
    color: blueviolet;
}

.manideep {
    border: 5px solid goldenrod;
    padding: 20px;

    width: 30%;

    text-align: justify;

    color: black;

    background-color: beige;

    background-image: url(https://i.pinimg.com/236x/19/93/82/199382704780384262ec652f48201f8c.jpg);

    background-size:cover;


}